<div class="container">
  <div class="widget">
    <h1> Foreign Exchange Widget </h1>
    <div class="form-control">
      <select id="from-currency-select" [(ngModel)]="from.currency" (ngModelChange)="updateFromCurrency()">
        <option *ngFor="let symbol of symbols" [value]="symbol.key">{{ symbol.key }}</option>
      </select>
      <input type="text" id="from-currency-input"
             [(ngModel)]="from.amount"
             (keypress)="keyPressNumbersDecimal($event)"
             (ngModelChange)="updateFromCurrency()"/>
    </div>
    <div class="form-control">
      <select id="to-currency-select" [(ngModel)]="to.currency" (ngModelChange)="updateToCurrency()">
        <option *ngFor="let symbol of symbols" [value]="symbol.key">{{ symbol.key }}</option>
      </select>
      <input type="text"
             id="to-currency-input"
             [(ngModel)]="to.amount"
             (keypress)="keyPressNumbersDecimal($event)"
             (ngModelChange)="updateToCurrency()"/>
    </div>
    <div class="legend">
      1 {{ from.currency | currencyDefinition: symbols }} = {{ referenceValue?.toFixed(2) }} {{ to.currency | currencyDefinition: symbols }}
    </div>
  </div>
</div>
