<div class="container">
  <div class="widget">
    <h1> Foreign Exchange Widget </h1>
    <div class="form-control">
      <select [(ngModel)]="from.currency" (ngModelChange)="updateFromCurrency()">
        <option *ngFor="let symbol of symbols" [value]="symbol.key">{{ symbol.key }}</option>
      </select>
      <input type="text" [(ngModel)]="from.amount" (ngModelChange)="updateFromCurrency()"/>
    </div>
    <div class="form-control">
      <select [(ngModel)]="to.currency" (ngModelChange)="updateToCurrency()">
        <option *ngFor="let symbol of symbols" [value]="symbol.key">{{ symbol.key }}</option>
      </select>
      <input type="text" [(ngModel)]="to.amount" (ngModelChange)="updateToCurrency()"/>
    </div>
    <div class="legend">
      1 {{ from.currency | currencyDefinition: symbols }} = {{ referenceValue?.toFixed(2) }} {{ to.currency | currencyDefinition: symbols }}
    </div>
  </div>
</div>
